@import "tailwindcss";

:root {

  --background: transparent;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-work: var(--font-work-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .h1-responsive {
    @apply font-normal text-2xl md:text-4xl leading-tight;
  }
  
  .h2-responsive {
     @apply font-normal text-2xl md:text-4xl leading-tight;
  }
  
  .p-responsive {
    @apply text-sm md:text-base  leading-[1.5];
  }
}
